## IMPORT NECESSARY LIBRARIES

In [1]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

## READ DATASETS

In [2]:
train=pd.read_csv("Train.csv")
test=pd.read_csv("Test.csv")
test_ids=test.ID
sub=pd.read_csv("SampleSubmission.csv")
train.head()

,ID,Make,Model,Year of manufacture,Colour,Fuel,Transmission,Condition,Mileage,Engine Size,Selling Condition,Bought Condition,price
0,ID_xXJ4kc,Honda,Accord,2012,Silver,Petrol,Automatic,Nigerian Used,149429.0,3500.0,Registered,Registered,3120000
1,ID_2k3coj,Toyota,Highlander,2008,Black,Petrol,Automatic,Nigerian Used,165972.0,3500.0,Registered,Registered,4620000
2,ID_QR1N4z,Land Rover,Range Rover Sport,2008,Black,Petrol,Automatic,Nigerian Used,114768.0,4400.0,Registered,Imported,2835000
3,ID_krFp1Y,Toyota,Camry,2006,Gray,Petrol,Automatic,Nigerian Used,211631.0,3800.0,Registered,Registered,2257500
4,ID_fBBkhN,Volvo,XC90,2006,Silver,Petrol,Automatic,Nigerian Used,145648.0,3200.0,Registered,Imported,3150000

## PRE - PROCESSING

#### Check Duplicates

In [3]:
print("Duplicates in train before dropping:", train.duplicated().sum())
print("Duplicates in test before dropping:", test.duplicated().sum())

train.drop_duplicates(inplace=True)
test.drop_duplicates(inplace=True)

print("Duplicates in train after dropping:", train.duplicated().sum())
print("Duplicates in test after dropping:", test.duplicated().sum())

Duplicates in train before dropping: 0
Duplicates in test before dropping: 0
Duplicates in train after dropping: 0
Duplicates in test after dropping: 0

#### Drop the ids

In [4]:
# Not used for training but only identification only
train.drop("ID",axis=1,inplace=True)
test.drop("ID",axis=1,inplace=True)

#### Fill NAN

In [5]:
train.isnull().sum()

Make                    0
Model                   0
Year of manufacture     0
Colour                  0
Fuel                    0
Transmission            0
Condition               0
Mileage                25
Engine Size            12
Selling Condition       0
Bought Condition        0
price                   0
dtype: int64

In [6]:
train.fillna(0,inplace=True)
test.fillna(0,inplace=True)

## MODELLING

#### Select Numerical Cols Only for Training

In [7]:
train=train[["Year of manufacture","Mileage","Engine Size","price"]]
test=test[["Year of manufacture","Mileage","Engine Size"]]
train.head()

   Year of manufacture   Mileage  Engine Size    price
0                 2012  149429.0       3500.0  3120000
1                 2008  165972.0       3500.0  4620000
2                 2008  114768.0       4400.0  2835000
3                 2006  211631.0       3800.0  2257500
4                 2006  145648.0       3200.0  3150000

#### Model

In [8]:
model=LinearRegression()
X=train.drop("price",axis=1)
y=train["price"]
model.fit(X,y)
preds=model.predict(test)

sub=pd.DataFrame({"ID":test_ids,
                 "price":preds})
sub.to_csv("BaselineSubmission.csv",index=False)
sub.head()

          ID         price
0  ID_CCK7xp  6.741042e+06
1  ID_69RKZr  2.268758e+06
2  ID_6bNQFH  5.072421e+06
3  ID_OxjBL4  2.567326e+06
4  ID_Bjl4Bg  3.405721e+06